<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.isil.appperuanisimosv2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Actividad.MenuAdmin"></activity>
        <activity android:name=".Actividad.Registro" />
        <activity android:name=".Actividad.Pedido" />
        <activity android:name=".Actividad.Buscador" />
        <activity android:name=".Actividad.Historial" />
        <activity android:name=".Actividad.Perfil" />
        <activity android:name=".Actividad.Plato1" />
        <activity android:name=".Actividad.Menu" />
        <activity android:name=".Actividad.Bienvenidos" />
        <activity android:name=".Actividad.Principal">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>